@import '~styles/context';

:local {
  .root {
    display: flex;
    flex-direction: column;
    margin: 0 0 $base-spacing * 2;
    padding: 0;

    h2 {
      color: $black;
      margin: 0;
    }

    figure {
      flex: 1 1;
      margin: 0 $base-spacing 0 0;
      order: -1;
    }

    img {
      width: 100%;
    }

    address {
      color: $black;
      font-size: $base-spacing * 1.3;
      font-style: normal;
      font-weight: 400;
      margin: 0;
      text-transform: uppercase;
    }

    p {
      color: $black;
    }

    ul {
      margin: 0;
      padding: 0;
    }
  }

  .full {
    h2 {
      font-size: $base-spacing * 3;
    }

    figure {
      margin: 0 0 $base-spacing 0;
    }

    p {
      font-size: $base-spacing * 1.6;
      margin-top: 0;
    }
  }

  .full-mini {
    $image-width: 200px;

    display: block;
    flex-direction: unset;
    overflow: auto;
    zoom: 1;

    h2 {
      flex: unset;
      float: right;
      font-size: $base-spacing * 2;
      width: calc(100% - (#{$image-width} + #{$base-spacing * 2}));
    }

    figure {
      float: left;
      margin: 0 $base-spacing 0 0;
      width: $image-width;
    }

    address {
      flex: unset;
      float: right;
      width: calc(100% - (#{$image-width} + #{$base-spacing * 2}));
    }

    p {
      float: right;
      font-size: $base-spacing * 1.6;
      margin-top: 0;
      width: calc(100% - (#{$image-width} + #{$base-spacing * 2}));
    }

    ul {
      float: right;
      width: calc(100% - (#{$image-width} + #{$base-spacing * 2}));
    }
  }

  .half {
    h2 {
      flex: 1 1;
      font-size: $base-spacing * 2;
    }

    figure {
      margin: 0 0 $base-spacing 0;
    }

    p {
      font-size: $base-spacing * 1.6;
      margin-top: 0;
    }
  }
}
