@import '~styles/context';

:local {
  .root {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .full {
    width: 100%;
  }

  .full-mini {
    width: 100%;
  }

  .half {
    width: 49%;
  }
}
