// Screen colors - RGB
$black-rgb: rgba(0, 0, 0, 1);
$very-dark-grey-rgb: rgba(74, 74, 74, 1);
$dark-grey-rgb: rgba(102, 102, 102, 1);
$medium-grey-rgb: rgba(153, 153, 153, 1);
$light-grey-rgb: rgba(216, 216, 216, 1);
$very-light-grey-rgb: rgba(239, 239, 239, 1);
$white-rgb: rgba(255, 255, 255, 1);
$red-rgb: rgba(172, 0, 0, 1);
$blue-rgb: rgba(0, 51, 102, 1);
$yellow-rgb: rgba(255, 187, 0, 1);
$semi-opaque-white: rgba( 255, 255, 255, 0.5);

// Screen colors - HEX
$black: #000;
$text: #ac0000;
$very-very-dark-grey: #343536;
$very-dark-grey: #4a4a4a;
$dark-grey: #666;
$medium-grey: #999;
$light-grey: #d8d8d8;
$light-grey-2: #eaeaeb;
$very-light-grey: #efefef;
$white: #fff;
$red: #ac0000;
$blue-0-51-102: #036;
$fb-blue: #3b5998;
$en-forme: #3ca0d2;
$en-panne: $dark-grey;
$light-yellow: #ffc;
$yellow: #fb0;
$brown: #7f4411;
$green: #690;
$yellow-bg-color: #fff6de;
$yellow-postillon: #ffb415;
$yellow-postillon-bg: #ff9;
$flexslider-paging-color: #9a9b9c;
$subscription-yellow: #fb0;

// Web colors
$orange-number: #d14d3e;
$web-pink: #f0b8c8;
$web-wine: #961923;
$web-red: #ac0000;
$web-strawberry: #d14d3e;
$web-orange: #d77d1e;
$web-yellow: #edc021;
$web-besson: #faf0b2;
$web-champagne: #af965f;
$web-brown: #78644b;
$web-grey: #4b4645;
$web-blue-gray: #5a6e77;
$web-baro: #3264aa;
$web-cyan: #3ca0d2;
$web-postillon-green: #dbe9d8;
$web-green: #469b5a;

// Stripes
$stripe-clear: #f9f9f9;
$stripe-dark: #eee;
