@import '~styles/context';

:local {
  .root {
    background-color: $medium-grey;
    color: $very-dark-grey;
    margin: 0 0 $base-spacing;
    padding: $base-spacing / 5;
    width: 100%;

    h2 {
      @extend %gotham-xnarrow-book;

      background-color: $medium-grey;
      color: $white;
      font-size: $base-spacing * 3;
      margin: 0;
      padding: $base-spacing / 2 $base-spacing;
      width: 100%;
    }

    section {
      background-color: $white;
      padding: $base-spacing;
    }

    p {
      @extend %ptserif;

      color: $very-dark-grey;
      font-size: $base-spacing * 1.5;
      margin: 0 0 $base-spacing;
      width: 100%;
    }

    p:last-of-type {
      margin: 0;
    }
  }
}
