@import '~styles/context';

:local {
  .css-spinner {
    display: inline-block;
    margin: 20px 60px;
  }

  .name {
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }

  .css-spinner:focus > .name {
    opacity: 1;
  }

  .clickable {
    cursor: pointer;
  }

  .lds-dual-ring {
    display: inline-block;
    height: 64px;
    width: 64px;
  }

  .lds-anim-obj {
    animation: lds-dual-ring 1.2s linear infinite;
    border: 5px solid;
    border-color: $red transparent $red transparent;
    border-radius: 50%;
    display: block;
    height: 46px;
    margin: 1px;
    width: 46px;
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .name {
      opacity: 1;
      transition: none;
    }

    .lds-anim-obj {
      animation: none;
    }
  }
}
